In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.optimize import curve_fit as cf
import matplotlib as mpl

In [5]:
mpl.rcParams['lines.linewidth'] = 2
mpl.rcParams['lines.markersize'] = 4
mpl.rcParams['figure.autolayout'] = True
mpl.rcParams['font.size'] = 20
mpl.rcParams['errorbar.capsize'] = 3
mpl.rcParams['lines.markeredgewidth'] = 1
mpl.rcParams['axes.axisbelow'] = True

In [9]:
pd.read_csv('1.csv',usecols=[3,4,9,10])

      -49.99999702E-3  -79.999998212E-3  -49.99999702E-3.1  -79.999998212E-3.1
0            -0.04996             -0.08           -0.04996               -0.08
1            -0.04992             -0.08           -0.04992               -0.08
2            -0.04988             -0.08           -0.04988               -0.04
3            -0.04984             -0.04           -0.04984               -0.04
4            -0.04980             -0.04           -0.04980               -0.04
...               ...               ...                ...                 ...
2494          0.04980             -0.12            0.04980               -0.08
2495          0.04984             -0.12            0.04984               -0.08
2496          0.04988             -0.12            0.04988               -0.08
2497          0.04992             -0.12            0.04992               -0.08
2498          0.04996             -0.08            0.04996               -0.08

[2499 rows x 4 columns]